In [343]:
import xmltodict
from bs4 import BeautifulSoup
import pprint
import os
import re
import pandas as pd

In [344]:
image_folder = os.path.join(os.getcwd(),'IMAGE_DATA')

In [345]:
image_root = os.path.join(image_folder,os.listdir(image_folder)[0])

In [346]:
image_root_lst = os.listdir(image_root)

In [347]:

r = re.compile('(Index)')
# re.findall(r,image_root_lst)
idx_file = list(filter(r.findall,image_root_lst))[0]

In [348]:
with open(os.path.join(image_root,idx_file),'r') as f:
    index_xml = f.read()

In [349]:
idx_xml = BeautifulSoup(index_xml,'xml')

In [350]:
# ind_file.find('<Col>'==22)
# ind_file.find_all('Wells', {'Col': [22]})

In [351]:
idx_dict = xmltodict.parse(index_xml)

In [352]:
# pprint.pprint(idx_dict['EvaluationInputData'])

In [353]:
idx_dict['EvaluationInputData'].keys()

dict_keys(['@Version', '@xmlns', '@xmlns:xsd', '@xmlns:xsi', 'User', 'InstrumentType', 'Plates', 'Wells', 'Maps', 'Images'])

In [354]:
mod_well_lst_to_df = []

for cnt in range(len(idx_dict['EvaluationInputData']['Wells']['Well'])):
    well_temp_df = pd.DataFrame.from_dict(idx_dict['EvaluationInputData']['Wells']['Well'][cnt],orient='columns')
    well_temp_df['Image'] = [item.pop('@id') for item in well_temp_df['Image']]
    mod_well_lst_to_df.append(well_temp_df)
    well_table=pd.concat(mod_well_lst_to_df,axis=0)

In [355]:
well_table.reset_index(drop=True,inplace=True)

In [384]:
well_table.head()

,id,State,Row,Col,ChannelID,FieldID,PlaneID,TimepointID,SequenceID,GroupID,AbsTime,AbsPositionZ,MeasurementTimeOffset,URL
0,0101K1F1P1R1,None,1,1,1,1,1,1,1,1,2022-11-15T22:28:38.0496000Z,m,0,r01c01-1719728043.tiff
1,0101K1F1P1R2,None,1,1,2,1,1,1,1,1,2022-11-15T22:28:38.6892000Z,m,0.639600038528,r01c01-1299190045.tiff
2,0101K1F2P1R1,None,1,1,1,2,1,1,1,1,2022-11-15T22:28:39.4380000Z,m,1.38840007782,r01c01-0436032609.tiff
3,0101K1F2P1R2,None,1,1,2,2,1,1,1,1,2022-11-15T22:28:39.9684000Z,m,1.91880011559,r01c01-0695440784.tiff
4,0101K1F3P1R1,None,1,1,1,3,1,1,1,1,2022-11-15T22:28:40.8576000Z,m,2.80800008774,r01c01-1938356943.tiff

In [383]:
#channelID 1 = HOECHST
#channelID 2 = mCherry
image_table = pd.DataFrame.from_dict(idx_dict['EvaluationInputData']['Images']['Image'],orient='columns')
image_table.head()

,id,State,Row,Col,ChannelID,FieldID,PlaneID,TimepointID,SequenceID,GroupID,AbsTime,AbsPositionZ,MeasurementTimeOffset,URL
0,0101K1F1P1R1,None,1,1,1,1,1,1,1,1,2022-11-15T22:28:38.0496000Z,{'#text': '0.1349009528967997'},0,r01c01-1719728043.tiff
1,0101K1F1P1R2,None,1,1,2,1,1,1,1,1,2022-11-15T22:28:38.6892000Z,{'#text': '0.1349009528967997'},0.639600038528,r01c01-1299190045.tiff
2,0101K1F2P1R1,None,1,1,1,2,1,1,1,1,2022-11-15T22:28:39.4380000Z,{'#text': '0.1349040863366522'},1.38840007782,r01c01-0436032609.tiff
3,0101K1F2P1R2,None,1,1,2,2,1,1,1,1,2022-11-15T22:28:39.9684000Z,{'#text': '0.1349040863366522'},1.91880011559,r01c01-0695440784.tiff
4,0101K1F3P1R1,None,1,1,1,3,1,1,1,1,2022-11-15T22:28:40.8576000Z,{'#text': '0.1349020074760486'},2.80800008774,r01c01-1938356943.tiff

In [382]:
image_table[image_table['Col']=='22']

,id,State,Row,Col,ChannelID,FieldID,PlaneID,TimepointID,SequenceID,GroupID,AbsTime,AbsPositionZ,MeasurementTimeOffset,URL
126,0122K1F1P1R1,None,1,22,1,1,1,1,1,1,2022-11-15T22:53:40.6260096Z,{'#text': '0.13498944511922153'},1502.5764091,r01c22-0584869840.tiff
127,0122K1F1P1R2,None,1,22,2,1,1,1,1,1,2022-11-15T22:53:41.1564096Z,{'#text': '0.13498944511922153'},1503.10680914,r01c22-2111396476.tiff
128,0122K1F2P1R1,None,1,22,1,2,1,1,1,1,2022-11-15T22:53:42.4044096Z,{'#text': '0.134989877075187'},1504.35480905,r01c22-0165009493.tiff
129,0122K1F2P1R2,None,1,22,2,2,1,1,1,1,2022-11-15T22:53:42.9348096Z,{'#text': '0.134989877075187'},1504.88520908,r01c22-2023344791.tiff
130,0122K1F3P1R1,None,1,22,1,3,1,1,1,1,2022-11-15T22:53:43.9020096Z,{'#text': '0.13498634681459504'},1505.85240912,r01c22-1365878811.tiff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2287,1622K1F1P1R2,None,16,22,2,1,1,1,1,1,2022-11-15T22:52:34.5912092Z,{'#text': '0.13489568258617993'},1436.54160905,r16c22-1657699482.tiff
2288,1622K1F2P1R1,None,16,22,1,2,1,1,1,1,2022-11-15T22:52:35.8548092Z,{'#text': '0.13489894448944267'},1437.80520916,r16c22-1734411264.tiff
2289,1622K1F2P1R2,None,16,22,2,2,1,1,1,1,2022-11-15T22:52:36.3852092Z,{'#text': '0.13489894448944267'},1438.3356092,r16c22-0524236398.tiff
2290,1622K1F3P1R1,None,16,22,1,3,1,1,1,1,2022-11-15T22:52:37.2588092Z,{'#text': '0.13489325815789818'},1439.2092092,r16c22-0431998733.tiff
2291,1622K1F3P1R2,None,16,22,2,3,1,1,1,1,2022-11-15T22:52:37.7892092Z,{'#text': '0.13489325815789818'},1439.739609,r16c22-0675203880.tiff

In [ ]:


# # r = re.compile('.*r04c11')
# r = re.compile('(Index)')

# with open (list(filter(r.findall,im_lst))[0],'r') as f:
#     z = f.read()
# z


# import numpy as np
# samp = np.array([21,22,33,4,5,6,7,87])
# mask = np.array([0,0,0,1,1,1,1,0],dtype=bool)
# samp[mask]